@tailwind base;
@tailwind components;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);

.company-name {
  font-family: "Roboto Slab", serif;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  font-family: "Open Sans", sans-serif;
}

.custom-connect span {
  color: #6b7280 !important;
  font-weight: normal !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: medium;
}

.custom-connect span:hover {
  color: #fff !important;
}
.sc-eCYdqJ {
  margin: 1px !important;
  background-color: transparent !important;
}

.rWEug {
  background-color: rgb(21, 32, 31, 0.7) !important;
}
.icwVFe {
  background-color: rgb(21, 32, 31, 1) !important;
}

::-webkit-scrollbar {
  width: 0px;
}

@layer components {
  .crimes {
    @apply text-gray-500 hover:text-yellow-green hover:bg-white/20 active:bg-white/30  rounded-full py-1.5 cursor-pointer focus:outline-none focus-within:text-yellow-green px-4 focus:bg-white/10;
  }
  .crimes-main {
    @apply text-gray-500 text-yellow-green/90 bg-white/5 text-sm  rounded-full py-1.5 cursor-pointer focus:outline-none  px-4;
  }
  .tag {
    @apply py-1.5 px-3 bg-dark-green text-sm text-yellow-green rounded-lg;
  }

  .post-card {
    @apply mb-7 rounded-lg bg-[#141515]/70 flex flex-col space-y-3 p-3 hover:shadow-sm hover:-translate-y-1.5 hover:transition-all hover:ease-in-out hover:shadow-yellow-green cursor-pointer hover:scale-103;
  }

  .custom-connect button {
    @apply bg-transparent p-0 outline-none border-none  !important;
  }
}

.custom-connect button {
  background-color: transparent !important;
}
.custom-connect button:focus {
  outline: 0;
}

/* bg-black/80 */
